* {
    margin:  0px;
    padding:  0px;
    box-sizing: border-box;
}

/* adjusting fonts */

body{
    font-family: roboto, sans-serif;
    font-size: 19px;
    line-height: 1.2;
}

p, li {
    font-size:  19px;
    line-height: 30px;
}

/* adjusting spacing */

#left-column {
    padding: 20px;
}

h1{
    font-family: Pixelify-sans, sans-serif;
    font-weight: 300;
    font-size: 60px;
    line-height: 1.2;
    color: #C93467;
}
h3{
    font-family: Pixelify-sans, sans-serif;
    font-weight: 300;
    font-size: 27px;
    line-height: 1.2;
    padding-top: 20px;
    color: #C93467;
}
p {
    font-family: roboto, sans-serif;
    font-size: 19px;
}

ul, ol {
    margin-left: 20px;
}

img {
    max-width: 100%;
    height:  auto;
}
a {
  text-decoration: none;
  font-family: Pixelify-sans, sans-serif;
  font-weight: bold;
  color: black;
  font-size: 20px;
}
a:hover{
    color: #C93467;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

body {
    overflow: hidden;
}

.scroll {
    padding:  20px;
    overflow: scroll;
    height: 100vh;
}

#left-column {
    background-color: #bababa;
    padding-left: 30px;
}

#right-column {
    background: #333;
}