/*Typos*/

/*Inter*/
@font-face {
    font-family: Inter;
    src: local('☺');
    src: url('typos1/Inter-Regular.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

/*just me again down here*/
@font-face {
    font-family: just-me;
    src: local('☺');
    src: url('typos1/JustMeAgainDownHere-Regular.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
