@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
   --accent-color: #81B377;
   --base-color: white;
   --text-color: black;
   --input-color: #EDEDED;
}

* {
    margin:  0px;
    padding:  0px;
    box-sizing: border-box;
}

html{
    font-family: Inter, poppins, arial;
    font-size: 12pt;
    color: var(--text-color);
    text-align: center;
}

body{
    min-height: 100vh;
    background-image: url(library2.jpg);
    box-size: cover;
    background-position: right;
    overflow: hidden;
}

.wrapper{
    box-sizing: border-box;
    background-color: var(--base-color);
    height: 100vh;
    width: max(40%, 600px);
    padding: 10px;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    color: black;
    letter-spacing: 2px;
}
form{
    width: min(400px, 100%);
    margin-bottom: 50px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
form > div{
    width: 100%;
    display: flex;
    justify-content: center;
}
form label, form span {
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    background-color: var(--accent-color); 
    fill: var(--base-color);
    color: var(--base-color);
    border-radius: 10px 0 0 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 1.3rem;
    font-weight: 600;
}
form label svg {
    width: 24px;
    height: 24px;
    display: block;
}
form input {
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 50px;
    padding: 1em;
    font: inherit;
    border-radius: 0 10px 10px 0;
    border: 2px solid var(--input-color);
    border-left: none;
    background-color: var(--input-color);
    transition: 150ms ease;
}
form input:hover{
    border-color: var(--accent-color);
}
form input:focus{
    outline: none;
    border-color: var(--text-color);
}
div:has(input:focus) lable{
    background-color: var(--text-color);
}
form input::placeholder{
    color: var(--text-color);
}
form button{
    margin-top: 20px;
    font: inherit;
    font-weight: bold;
    text-transform: uppercase;
    
    outline: none;
    background-color: #D76B06;
    color: var(--base-color);
    border: 3px solid #D76B06; 
    border-radius: 25px;    
    padding: 10px 40px;       
    
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
form button:hover, form button:focus {
    border: 3px solid #D76B06; 
    border-radius: 25px;          
    padding: 10px 40px;
    background-color: transparent; 
    color: #D76B06;
}
a{
    text-decoration: none;
    color: #76B1C7;
    font-weight: 700;
}
a:hover{
    text-decoration: underline;
}
@media(max-width: 1100px){
    .wrapper{
        width: min(600px, 100%);
        border-radius: 0;
    }
}
form div.incorrect{
    background-color: red;
}
form div.incorrect input{
    border-color: red;
}

#error-message{
    color: red;
}
